<div class="detail-section">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <img src="assets/images/logo.png" class="product-box detail-img">
      <h3>{{task?.name}}</h3>

      <hr>
      <h4>Description</h4>
      <p>{{task?.description}}</p>

      <div class="row">
        <div class="col-8">
          <label class="button">
            <input type="file" (change)="selectFile($event)" />
            Choose a file
          </label>
        </div>
        <div class="col-6">
          <button class ="button" [disabled]="!selectedFiles" (click)="upload()">
            Upload
          </button>
        </div>
      </div>
      <div *ngIf="currentFile" class="progress my-3">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>
      <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

      <div class="col-6">
        <button class="button" (click)="uploadSolution()" >Solve the task</button>
      </div>
      <div class="sol-8">
        <a routerLink="/tasks" >Back to tasks</a>
      </div>
    </div>
  </div>
</div>
