<div class="detail-section">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <img src="{{task?.imagesLoc}}" class="product-box detail-img">
      <h3>{{task?.name}}</h3>

      <hr>
      <h4>Description</h4>
      <p>{{task?.description}}</p>

      <div class="row">
<!--        <div class="col-8">-->
<!--          <label class="button">-->
<!--            <input type="file" (change)="selectFile($event)" />-->
<!--            Choose a file-->
<!--          </label>-->
<!--        </div>-->
        <div class="row">
          <div class="col-8">
            <label class="button">
              <input type="file" (change)="selectFile($event)" />
              Choose a file
            </label>
          </div>
        </div>
      </div>

      <div class="col-6">
        <button class="button" (click)="upload()" >Solve the task</button>
      </div>
      <div class="sol-8">
        <a routerLink="/tasks" >Back to tasks</a>
      </div>
      <hr/>
      <h2>Solutions</h2>
      <div class="row">
        <!-- loop over the collection of solutions -->
        <div class="product-box">

          <div *ngFor="let tempSolution of solutions">

            <a routerLink="/tasks/{{taskId}}/solution/{{tempSolution.id}}" routerLinkActive="active-link">
              <h4>Solution_{{tempSolution.id}}</h4>
            </a>
          </div>
        </div>
        <div *ngIf="solutions?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No solutions found.
        </div>
      </div>
    </div>
  </div>
</div>
