<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <img src="{{solution?.imageSystem}}" class="img" width="800px">
      <hr>
      <img src="{{solution?.imagePlot}}" class="img" width="800px">
      <h3>Quality</h3>
      <ul>
        <li>
          RiseTime: {{quality?.riseTime}}
          <ng-container *ngIf="isValidRiseTime(); then OK; else FAIL"></ng-container>
        </li>
        <li>
          SettlingTime: {{quality?.settlingTime}}
          <ng-container *ngIf="isValidSettlingTime(); then OK; else FAIL"></ng-container>
        </li>
        <li>
          SettlingMin: {{quality?.settlingMin}}
          <ng-container *ngIf="isValidSettlingMin(); then OK; else FAIL"></ng-container>
        </li>
        <li>
          SettlingMax: {{quality?.settlingMax}}
          <ng-container *ngIf="isValidSettlingMax(); then OK; else FAIL"></ng-container>
        </li>
        <li>
          Overshoot: {{quality?.overshoot}}
          <ng-container *ngIf="isValidOvershoot(); then OK; else FAIL"></ng-container>
        </li>
        <li>
          Undershoot: {{quality?.undershoot}}
          <ng-container *ngIf="isValidUndershoot(); then OK; else FAIL"></ng-container>
        </li>
        <li>
          Peak: {{quality?.peak}}
          <ng-container *ngIf="isValidPeak(); then OK; else FAIL"></ng-container>
        </li>
        <li>
          PeakTime: {{quality?.peakTime}}
          <ng-container *ngIf="isValidPeakTime(); then OK; else FAIL"></ng-container>
        </li>
      </ul>

      <ng-template #OK>
        <span class="okAnswer">
          OK
        </span>
      </ng-template>

      <ng-template #FAIL>
        <span class="failAnswer">
          FAIL
        </span>
      </ng-template>

      <div class="sol-8">
        <a routerLink="/task/{{taskId}}" >Back to task</a>
      </div>
    </div>
  </div>
</div>
