<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="col-6">
        <a routerLink="/task-create" class="button">Create task</a>
      </div>
      <div class="row">
        <!-- loop over the collection of products -->
        <div class="product-box">

        <div *ngFor="let tempTask of tasks">

            <a routerLink="/task/{{tempTask.id}}" routerLinkActive="active-link">
              <h1>{{tempTask.name}}</h1>
            </a>
        </div>
        </div>
        <!-- if products empty then display message -->
        <div *ngIf="tasks?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No tasks found.
        </div>
      </div>
    </div>
  </div>
</div>
